.not-found {
  min-height: calc(100vh - 80px);
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-content {
  text-align: center;
  padding: 2rem;
}

.not-found-content h1 {
  font-size: 5rem;
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.not-found-content p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.not-found-content .subtitle {
  color: var(--text-secondary);
  font-size: 1rem;
  margin-bottom: 2rem;
}
